nav {
    max-width: 100%;
    background-color: rgb(14, 34, 72);
    overflow: auto;
  }
  nav a {
    float: left;
    text-align: left;
    padding: 15px;
    color: white;
    font-size: 1.1em;
  }
  nav a:hover {
    background-color: rgb(64, 75, 95);
    cursor: pointer;
  }
body {
    color: black;
    background-color: #E6E9F6;
}
#courseTable {
    width : 100%;
    border-spacing: 5px;  
    border-collapse: separate;
}
#courseTable td {
    padding: 2%;
    border: solid rgb(239, 239, 239) 2px;
    border-radius: 5px;
    background-color: white;
}
#courseTable td:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
#popup {
    display: none;
    position: fixed;
    padding: 5%;
    width: auto;
    left: 50%;
    margin-left: -150px;
    height: auto;
    /* top: 50%; */
    margin-top: auto;
    background-color: white;
    border-radius: 15px;
    border : 1px solid black;
    /* z-index: 20; */
  }
  
#popup {
    -webkit-box-shadow:  0px 0px 0px 95px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.text {
    font-size: 0.65em ;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#graph {
    margin-top : 20px;
}
#sourceData {
    font-size: 0.75em;
}

#version {
    margin-top: 5%;
    text-align: center;
}

h1 {
    font-family:Arial light, Helvetica, sans-serif;
    margin-bottom: 0; 
}